<div class="Message">
  <div class="Title">
    <h1>Realtime calculation</h1>
    <h3>Provide the position of the <a href="https://en.wikipedia.org/wiki/Fibonacci_number">Fibonacci sequence</a> (0, 1, 1, 2, 3, 5, 8, 13, ...) that you want to calculate.</h3>
    <h5>For example, the number at position 0 in sequence is 0, and the number at position 6 is 8.</h5>
  </div>
</div>
<input #position id="position" type="text" name="position" />
<br /><br />
<button id="calculate" type="button" (click)="calculate()">Calculate</button>
<br /><br /><br />
<div>Last calculation position:<span id="lastPosition"> {{lastPosition}}</span></div>
<br />
<div>Last calculation result:<span id="result"> {{lastResult}}</span></div>
